body {
  font-family: 'The Girl Next Door', cursive;
  color: gray;
  background: white repeat;
  text-align: center;
}

a {
  color: gray;
  text-decoration: none;
}

#name {
  text-align: center;
  border-bottom: 8px dotted gray;
  padding: 50px 0px;
  margin: 25px 0px;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: gray;
}


.btn:hover {
  background-color: #4CC4A7;
}

ul.nav {
  margin: 100px 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 40px;
  text-align: center;
}

ul.nav li a {
  color: gray;
  font-size: 1.50em;
  text-align: center;
}

#intro {
  margin: 20px 0 75px 0;
  font-size: 1.8em;
}


#copyright {
  border-top: 5px solid gray;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}
















